<!DOCTYPE html>
<html>
    <head>
        {% include head.html %}
        <title>{{ page.title }}</title>
    </head>
    <script src="https://kit.fontawesome.com/2ffb0e9231.js" crossorigin="anonymous"></script>

    <body>
        <div class="container mx-auto px-4">
            {% include navigation.html %}
            <div>
                {{ content }}
            </div>
        </div>

        <footer class="bg-gray-100">
            <div class="mx-auto my-2 py-6 text-center py-8">
            </div>
        </footer>
    </body>

    <script>
        var potentialQuotes = [
            "Enough to bewilder a crew",
            "Other maps are such shapes",
            "Ink in unfailing supplies",
            "Ages ahead of the fashion",
            "Chanted in mimsiest tones"
        ]
        var quoteElem = document.getElementById("head-quote-span");
        if (quoteElem) {
            quoteElem.innerHTML = "<i>" + potentialQuotes[Math.floor(Math.random() * potentialQuotes.length)] + "</i>"
        }
    </script>
</html>
